# Ignore python compiled files
*.py[co]
# Ignore eggs
*.egg-info
*.egg
# Ignore backups
*~
.*.swp
\#*
/.installed.cfg
/bin/
/develop-eggs/
/eggs/
/include/
/lib/
/parts/
/var/
.mr.developer.cfg
src/collective.geo.contentlocations/
src/collective.geo.geographer/
src/collective.geo.kml/
src/collective.geo.mapwidget/
src/collective.geo.openlayers/
src/collective.geo.settings/
src/collective.geo.usersmap/
src/collective.z3cform.colorpicker/
