# Ignore python compiled files
*.py[co]
# Ignore eggs
*.egg-info
*.egg
# Ignore backups
*~
.*.swp
\#*
/.installed.cfg
/bin/
/develop-eggs/
/eggs/
/include/
/lib/
/parts/
/var/
docs/doctrees/
docs/html/
.mr.developer.cfg
extras
